<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Foodizm Driver</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>foodizm_driver_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.875718742216-8075j85v48jdmn09gve3mv24lj5ml7ip</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>mailto</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Please Allow access to your Photos for update profile images</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This is used to perform basic functions of the app</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This is used to perform basic functions of the app</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This permission will be used to input your date of birth</string>
	<key>NSCameraUsageDescription</key>
	<string>Please Allow Access to Camera for capture image</string>
	<key>NSContactsUsageDescription</key>
	<string>This permission will be used to fetch contacts </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please allow access to location permission to know your location to user and restaurant</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please allow access to location permission to know your location to user and restaurant</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<string>Please allow access to location permission to know your location to user and restaurant</string>
	<key>NSLocationUsageDescription</key>
	<string>Please allow access to location permission to know your location to user and restaurant</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow access to location permission to know your location to user and restaurant</string>
	<key>NSMotionUsageDescription</key>
	<string>This permission will be used to perform basic functions of the app</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This permission will be required to access your photo gallery for uploading images to the app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This permission will be required to access your photo gallery for uploading images to the app</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This permission will be used to perform basic functions of the app</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
